body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}

textarea {
  margin: 10px;
  background-color: white;
}

h1 {
  text-align: center;
}

.darkmode {
  display: flex;
  justify-content: center;
}

button {
  margin: 2px;
}

.darkmode button {
  background-color: black;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  background-color: greenyellow;
  color: black;
  border: solid grey 2px;
  border-radius: 10%;
}

#error {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: red;
}
